<section class="p-5">
  <div class="container">
    <div class="card mb-4 bg-light">
      <div class="p-4">
        <label class="form-label p-3 text-start fs-3">Title</label>
        <input type="text" class="form-control" id="newTitle" />
        <label class="form-label p-3 text-start fs-3">Your post</label>
        <textarea class="form-control" id="newPost" rows="3"></textarea>
      </div>
      <div
        class="container d-flex justify-content-center align-items-center mb-3"
      >
        <button type="button" class="btn btn-warning" id="addNewPost" data-post='{{id}}'>Add new post</button>
      </div>
    </div>
  </div>
</section>

<script src="/js/editPost.js"></script>