<section class="p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Welcome to uor Tech<span class="text-warning">Bole</span></h1>
        <h3>Please Login or <a href="/signup">Sign Up</a></h3>
        <div class="container mt-3">
          <div class="card">
            <form class="px-4 py-3" id="loginForm">
              
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email-login"
                  placeholder="email@example.com"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password-login"
                  placeholder="Password"
                />
              </div>
              <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
          </div>
        </div>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="/img/code.svg"
        alt=""
      />
    </div>
  </div>
</section>
<script src="/js/login.js"></script>