<section class="d-flex justify-content-center align-items-center mt-3 p-5">
  <div class="container">
    <div class="card">
      <form class="px-4 py-3">
        <div class="mb-3">
          <label for="exampleDropdownFormEmail1" class="form-label">Email
            address</label>
          <input
            type="email"
            class="form-control"
            id="exampleDropdownFormEmail1"
            placeholder="email@example.com"
          />
        </div>
        <div class="mb-3">
          <label
            for="exampleDropdownFormPassword1"
            class="form-label"
          >Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleDropdownFormPassword1"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="signup.html">New around here? Sign up</a>
    </div>
  </div>
</section>