<section class="p-5 p-lg-0 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Welcome to uor Tech<span class="text-warning">Bole</span></h1>
        <h3>Go back to Login page <a href="/login">Login</a></h3>
        <div class="container mt-3">
          <div class="card">
            <form class="px-4 py-3" id="signinForm">
              <div class="mb-3">
                <label class="form-label">username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username-signup"
                  placeholder="please enter your user name"
                />
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Email
                  address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email-signup"
                  placeholder="email@example.com"
                />
              </div>
              <div class="mb-3">
                <label
                  for="exampleDropdownFormPassword1"
                  class="form-label"
                >Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password-signup"
                  placeholder="Password"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary w-100"
              >Signup</button>
            </form>
          </div>
        </div>
      </div>
      <img
        class="img-fluid w-50 mt-5 d-none d-sm-block"
        src="/img/react.svg"
        alt=""
      />
    </div>
  </div>
</section>

<script src="/js/signup.js"></script>