<!-- Postes  -->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card mb-4 bg-light">
          <h3 class="card-title p-3 text-start">{{post.title}}</h3>
          <p class="text-start px-4">wirtin by
            <span>{{user.username}}</span>
          </p>
          <p class="card-text text-start px-4">
            {{post.content}}
          </p>
          <hr />
          <h4 class="text-start px-4">Comments</h4>
          <p class="text-start p-4"><span>{{user.username}}: </span>Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Impedit officia
            placeat eligendi atque, ab molestiae hic doloribus eius pariatur
            qui! Nobis error doloribus in voluptatibus atque deserunt incidunt
            dicta ab!</p>
          <div class="input-group mb-3 px-2">
            <input type="text" class="form-control" placeholder="add your comment" id="addComment" />
            <button class="btn btn-outline-secondary" type="button" id="addComment">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>